.about_section {
  background-color: #3a5976;
  padding-inline: 10rem;
  padding-top: 6rem;
  padding-bottom: 4rem;
  color: #c3e0e5;
  overflow: hidden;
}

.secondary_title {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 5rem;
}

.about_text {
  font-size: 2.7rem;
  width: 46.5rem;
  text-align: center;
}

.text_imgs_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15rem;
}

.text_imgs_container_right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15rem;
}

.lang_img_container_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.lang_img_container_grid img:last-child {
  grid-column: 1/3;
  justify-self: center;
}

.lang_img_container {
  display: flex;
  gap: 4.5rem;
  flex-direction: row;
}

.lang_img {
  height: 10rem;
  width: 10rem;
}

.about_text_smaller {
  font-size: 2.4rem;
  width: 46.5rem;
  text-align: center;
}

.fb_img {
  height: 34rem;
  border-radius: 2rem;

  border: 0.2rem solid #c3e0e5;
}

@media only screen and (max-width: 425px) {
  .about_section {
    padding-inline: 1rem;
    padding-top: 3rem;
  }

  .secondary_title {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  .about_text {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
  }

  .text_imgs_container {
    display: grid;
    margin-bottom: 15rem;
    gap: 3rem;
    justify-items: center;
  }
  .lang_img_container {
    display: flex;
    grid-template-columns: 1fr;
  }

  .lang_img {
    height: 6rem;
    width: 6rem;
  }

  .text_imgs_container_right {
    flex-direction: column-reverse;
  }
}
