.contacts_section {
  padding-top: 7rem;
  padding-bottom: 13rem;
}

.contacts_title {
  font-size: 6rem;
  text-align: center;
  color: #274472;
  margin-bottom: 8rem;
}

.img_flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.contact_img {
  height: 10rem;
}

@media only screen and (max-width: 425px) {
  .contacts_section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .contacts_title {
    font-size: 4rem;
    margin-bottom: 5rem;
  }
  .contact_img {
    height: 100%;
  }

  .img_flex_container a {
    height: 5rem;
  }

  .img_flex_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .img_flex_container a:first-child {
    justify-self: right;
  }
  .img_flex_container a:nth-child(3) {
    justify-self: right;
  }
}
